# Terraform variables for Docker local deployment

# Docker host socket
docker_host = "npipe:////./pipe/docker_engine"

# Image configuration
image_name = "frontendecommerce"
image_tag  = "local"

# Frontend API URL
vite_api_url = "http://localhost:3000/api"

# Port mapping
host_port = 8081
